/* Font */
@font-face {
    font-family: "covid";
    src: url("/src/assets/fonts/lanenar_Lane.ttf");
  }

  body {
    font-family: "covid";
    font-weight: bolder;
  }

  .nav-item1{
    background-color: #2D2F91;
    border-radius: 25px;
    width: 15%;
    padding-top: 5px;
    text-align: center;
  }